[Desktop Entry]
X-AppImage-Version=2cdda9
TryExec=/opt/MoonDeckBuddy-appimage/MoonDeckBuddy.AppImage
Name=MoonDeckBuddy
Type=Application
Exec=env DESKTOPINTEGRATION=1 /opt/MoonDeckBuddy-appimage/MoonDeckBuddy.AppImage
#Icon=MoonDeckBuddy.png
Categories=Utility
