[Desktop Entry]
Type=Application
Version=1.0
Name=MoonDeckBuddy
TryExec=/appimages/MoonDeckBuddy.AppImage
Exec=/appimages/MoonDeckBuddy.AppImage --exec MoonDeckBuddy
Icon=MoonDeckBuddy
Comment=A server-side part of the MoonDeck plugin for the SteamDeck
Categories=Network;Game;
Terminal=false
